<div [ngClass]="['card',card.styleClass]">
  <div class="title" >
    <h3>{{card.title}}</h3>
  </div>
  <div class="main">
    <a [href]="card.baseInfo.href">
      <p class="tit">{{card.baseInfo.text}}<span class="tag-discount">限时特惠</span></p></a>
    <p class="des">{{card.baseInfo.desc}}</p>
    <p class="price">
      <span>{{card.price | currency}}<small>起</small></span>
    </p>
    <a [href]="card.baseInfo.href" class="btn">立即查看</a>
  </div>
  <div class="list">
    <div class="prd" *ngFor="let item of card.productList.list;even as isEven" [class.bdr]="isEven && card.productList.grid" [class.row]="!card.productList.grid">
      <a [href]="item.href" class="server-name">{{item.text}}</a>
      <p class="des">{{item.desc}}</p>
    </div>
  </div>
</div>
