<div>
  <div class="footer-prom">
    <div class="container">
      <div class="footer-prom-list">
        <div class="footer-prom-item">
          <div class="prom-icon prom-icon-qt"></div>
          <div class="prom-item-ct">
            <div class="prom-title">商家资质认证</div>
            <div class="prom-ad">严选服务商,提供品质服务</div>
          </div>
        </div>
        <div class="footer-prom-item">
          <div class="prom-icon prom-icon-gt"></div>
          <div class="prom-item-ct">
            <div class="prom-title">平台交易担保</div>
            <div class="prom-ad">服务完成,再付款给服务商</div>
          </div>
        </div>
        <div class="footer-prom-item">
          <div class="prom-icon prom-icon-xp"></div>
          <div class="prom-item-ct">
            <div class="prom-title">平台线性赔付</div>
            <div class="prom-ad">保证金监管,交易纠纷先行赔付</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-contact">
    <div class="container">
      <div class="footer-contact-col">
        <p class="footer-contact-tit">联系我们</p>
        <p class="footer-contact-qq">客服QQ:11225541222</p>
        <p class="footer-contact-email">商务合作:44444@4444.com</p>
      </div>
      <div class="footer-contact-col m1">
        <span class="footer-contact-code">
          <img src="" alt="">
        </span>
        <p class="footer-contact-til">关注公众号</p>
        <p>掌握订单实时状态</p>
        <p>获取创业最新资讯</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <p>
        <a href="">联系我们</a>
        <a href="">投诉举报</a>
      </p>
      <p>Copyright © 1998 - 2018 YoFan. All Rights Reserved.</p>
    </div>
  </div>
</div>
