.card {
  position: relative;
  float: left;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  margin-left: 16px;
  margin-bottom: 16px;
  width: 288px;
  box-sizing: border-box;
}
.card .top {
  height: 98px;
  padding: 32px 10px 0;
  border-bottom: 1px solid #e3e3e3;
  color: #323232;
  font-size: 14px;
  background-image: url(../../../assets/images/sprite-54b562872d.index.cf.png?max_age=31536000);
  background-position: -190px 0;
}

.card .logo {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 16px;
}
.card .top h5 {
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 8px;
  max-width: 163px;
  max-height: 3em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lv {
  font-size: 12px;
  background: #f9bc01;
  line-height: 13px;
  display: inline-block;
  padding: 0 3px;
  margin-left: 4px;
  border-radius: 2px;
  color: #fff!important;
}
.card .top p em {
  color: #de373e;
  margin: 0 5px 0 3px;
}
.card .cate-tag {
  font-size: 12px;
  line-height: 14px;
  width: 2em;
  color: #fff;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px 7px 12px;
  background-image: url(../../../assets/images/sprite-54b562872d.index.cf.png?max_age=31536000);
  background-position: -421px -134px;
}
.card .btm {
  height: 100px;
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
}

.card .btm .btn {
  width: auto;
  padding: 2px 14px;
  margin-top: 28px;
  text-align: center;
  line-height: 26px;
  border-radius: 4px;
  font-size: 14px;
  color: #de373e;
  border: 1px solid #de373e;
  transition: all .3s;
  display: inline-block;
}
.m10{
  margin-left: 0;
}
