/* You can add global styles to this file, and also import other style files */
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}
div {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  color: white;
  font-weight: 400;
}
body, dd, dt, h1, h2, h3, h4, h5, h6, li, p, ul {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font: 12px/1.5 microsoft yahei,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;
  min-width: 1200px;
  color: #323232;
  min-height: 100%;
  box-sizing: border-box;
}
.clearfix:after, .clearfix:before {
  content: '';
  display: table;
  font: 0/0 a;
}
.clearfix:after {
  clear: both;
}
*, ::after, ::before {
  box-sizing: unset;
}
img {
  border: none;
  outline: none;
}
em {
  font-style: normal;
}
